/* Values */
@font-face {
    font-family: Cardinal;
    src: url(../fonts/Cardinal.ttf);
}

/*
** Page Styling
*/
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.container-fluid {
    padding: 0;
}
.row {
    margin: 0;
    padding: 0;
}


/*
** Primary Map Styling
*/
.primaryMapContainer {
    height: 80vh;
    width: 100%;
    position: relative;
    padding: 0;
    background-color: #333333;
}

#primaryMap {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}
.primaryMapRegion {
    fill: red;
    opacity: .5;
    stroke: black;
}

.panTrigger {
    position: absolute;
    z-index: 2;
    padding: 0;
    background-color: #cccccc;
    opacity: 0.2;
}
#panUpTrigger {
    height: 14px;
    width: 100vw;
    top: 0;
    left: 0;
}
#panRightTrigger {
    height: 80vh;
    width: 14px;
    top: 0;
    right: 0;
}
#panDownTrigger {
    height: 14px;
    width: 100vw;
    bottom: 0;
    left:0;
}
#panLeftTrigger {
    height: 80vh;
    width: 14px;
    top:0;
    left:0;
}



/*
** Primary Map Region Styling
*/
.primaryMapRegion{
    opacity: 0.5;
}
.conquered {
    opacity: 0;
}
.altaian {
    fill: #985906;
}
.uralian {
    fill: #ffffff;
}
.celtic {
    fill: #ff9933;
}
.classical {
    fill: #ff6600;
}
.iranian {
    fill: #ffff00;
}
.slavic {
    fill: #000000;
}
.teutonic {
    fill: #b40000;
}
.westernEuropean {
    fill: #ff1301;
}
.elamoDravidian {
    fill: #92D050;
}
.afroAsiatic {
    fill: #019104;
}
.nigerCongolese {
    fill: #000000;
}
.bantu {
    fill: #000000;
}
.sinoThai {
    fill: #000000;
}
.austronesian {
    fill: #000000;
}
.papuanAustralian {
    fill: #000000;
}
.americanIndian {
    fill: #000000;
}
.misc {
    fill: #808080;
}





/*
** Command Box Styling
*/
#commandBox {
    height: 20vh;
    width: 100%;
    border-top: 10px groove saddlebrown;
    border-left: 2px groove saddlebrown;
    border-right: 2px groove saddlebrown;
    border-bottom: 2px groove saddlebrown;
    background-color: #000000;
    background-image: url(../img/commandBoxBack.jpg);
    position: relative;
    z-index: 4;
    box-shadow: 0 0 20px black;

}

#miniMapColumn {
    padding: 15px 0 5px 0;
}
#miniMap {
    z-index: 5;
    fill: #ffffbb;
}

#primaryCommand {
    border-left: 5px groove saddlebrown;
    border-right: 5px groove saddlebrown;
}

.commandBoxElements {
    height: 100%;
}







/*
** Summary Box Styling
*/
#eraSummaryBox {
    position: absolute;
    border-top: 8px groove saddlebrown;
    border-left: 8px groove saddlebrown;
    border-right: 8px groove saddlebrown;
    border-bottom: 0;
    background-color: #000000;
    background-image: url(../img/commandBoxBack.jpg);
    box-shadow: 0 0 20px black;
    z-index: 3;
}
#eraSummaryBoxToggle {
    position: relative;
    top: -23px;
    height: 15px;
    width: 40px;
    border-top: 1px groove saddlebrown;
    border-left: 1px groove saddlebrown;
    border-right: 1px groove saddlebrown;
    border-bottom: 0;
    background-color: #2d1606;
    background: linear-gradient(#100600, #2d1606);
    box-shadow: 0 0 20px black;
    z-index: 3;
    text-align: center;
}

#characterSummaryBox {
    position: absolute;
    border-top: 5px groove saddlebrown;
    border-left: 5px groove saddlebrown;
    border-right: 0;
    border-bottom: 5px groove saddlebrown;
    background-color: #000000;
    background-image: url(../img/commandBoxBack.jpg);
    box-shadow: 0 0 20px black;
    z-index: 3;
}
#characterSummaryBoxToggle {
    position: relative;
    left: -17px;
    height: 40px;
    width: 15px;
    border-top: 1px groove saddlebrown;
    border-left: 1px groove saddlebrown;
    border-right: 0;
    border-bottom: 1px groove saddlebrown;
    background-color: #2d1606;
    background: linear-gradient(to right, #100600, #2d1606);
    box-shadow: 0 0 20px black;
    z-index: 3;
}



/*
** Other Styling
*/
#eraDate {
    position: absolute;
    top: 3vh;
    left: 3vh;
    font-family: "Cardinal", serif;
    font-size: 300%;
    color: #DAA520;
    text-shadow: 0 0 2px rgba(0,0,0,0.5),
        1px 2px 3px #CA9510,
        2px 4px 4px rgba(0,0,0,0.25),
        3px 6px 6px rgba(0,0,0,0.2),
        4px 8px 8px rgba(0,0,0,1);
    z-index: 5;
}