html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.container-fluid {
    padding: 0;
}
.row {
    margin: 0;
    padding: 0;
}
.primaryMapContainer {
    height: 80vh;
    width: 100%;
    position: relative;
    padding: 0;
    background-color: #333333;
}

#primaryMap {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}

.panTrigger {
    position: absolute;
    z-index: 2;
    padding: 0;
    background-color: #cccccc;
    opacity: 0.2;
}
#panUpTrigger {
    height: 14px;
    width: 100vw;
    top: 0;
    left: 0;
}
#panRightTrigger {
    height: 80vh;
    width: 14px;
    top: 0;
    right: 0;
}
#panDownTrigger {
    height: 14px;
    width: 100vw;
    bottom: 0;
    left:0;
}
#panLeftTrigger {
    height: 80vh;
    width: 14px;
    top:0;
    left:0;
}




#commandBox {
    height: 20vh;
    width: 100%;
    border-top: 10px groove saddlebrown;
    border-left: 2px groove saddlebrown;
    border-right: 2px groove saddlebrown;
    border-bottom: 2px groove saddlebrown;
    background-color: #000000;
    background-image: url(../img/commandBoxBack.jpg);
    position: relative;
    z-index: 2;

}
#miniMapColumn {
    padding: 15px 0 5px 0;
}
#primaryCommand {
    border-left: 5px groove saddlebrown;
    border-right: 5px groove saddlebrown;
}
.commandBoxElements {
    height: 100%;
}



#miniMap {
    z-index: 3;
    fill: #ffffbb;
}
